/*Navbar color complements the green giving it vibrant pop to the page that will attract the users eyes to always find the nav menu*/
.custom-navbar-color {
    background-color: #B8332A;
}

#afterimage{
    max-height: 20px;
    max-width: 20px;
}

#form {
    border-radius: 10px;
    border: 20px;
    background-color: #8FA17E;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-content: center;
    display: grid;
}

#hire_form {
    justify-content: center;
}

#chef {
    display: grid;
    justify-content: flex-start;
    align-content: end;
}

#mascot {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    z-index: 1000;
    pointer-events: none;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url('../img/malaysian-food.jpg');
    background-size: cover;
}

/*Menu background color was to complement the greens in the background while still making it pop*/
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF2E6;
    padding: 1rem;
    min-width: 50%;
    max-width: 600px;
    border-radius: 10px;
}


#menu_carousel {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

#menu_carousel th, #menu_carousel td {
    padding: 0.5rem;
    text-align: left;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#menu_img {
    max-height: 50vh;
    max-width: 50vw;
}


footer {
    background-color: #FFF2E6;
    display: flex;
    justify-content: center;
}