table {
    border-collapse: collapse;
    width: 65%;
    display: flex;
    margin-left: auto;
    margin-right: 0;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}
.no_bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

nav {
    padding-bottom: 20px;
    background-color: #556B2F;
    margin: 0;
    width: 100vw;
}
.menu_items {
    background-color: cornflowerblue;
}
.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: cornsilk;
    width: 100%;
}
.landing{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw;
}